body {
  font-family: sans-serif;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  background-color: #27548A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
